p.verso {
	color: blue;
}

p.mote {
	color: red;
}

a.search {
	background-color: yellow;
}

a.search:visited {
	color: green;
}

a.search:hover {
	color: blue;
	text-decoration: none;
}

a.search:active {
	color: brown;
	text-decoration: underline;
}

img.profile {
	border-radius: 50%;
	width: 100px;
}