table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f4b41a;
    color: white;
}

#bt {
	text-align: center;
}

.botoes {
	width: 200px;
	background-color: skyblue;
	border-radius: 10px;
}